/* ============================= section-header-main ============================= */
.section-header-main {
  font-family: 'Poppins', sans-serif;
}

.section-header-top {
  padding: 12px 0;
  font-size: 14px;
}

.header-logo {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-img {
  height: 28px;
  cursor: pointer;
}

.logo-divider {
  width: 1px;
  height: 28px;
  background-color: #dcdcdc;
}

.delivery-text {
  color: #777;
  font-size: 16px;
}

.header-search input {
  width: 280px;
  height: 42px;
  border-radius: 25px;
  border: 1px solid #ddd;
  padding: 0 45px 0 20px;
  outline: none;
  font-size: 14px;
}

.header-search .search-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
  color: #a67e65;
}

.header-icons .icon-item {
  font-size: 18px;
  cursor: pointer;
  color: #000;
}

.header-icons .count {
  font-size: 14px;
  margin-left: 4px;
}

.header-icons .icon-item:hover {
  color: #b58a5b;
}

.section-header-bottom {
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.header-phone {
  font-weight: 500;
}

.header-phone i {
  color: #b58a5b;
  font-size: 16px;
}

.header-phone span {
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-phone span:hover {
  text-decoration: underline;
}

.header-menu .nav-link {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

.header-menu .nav-link:hover {
  color: #b58a5b;
  text-decoration: underline;
}

.small-icon {
  font-size: 10px;
}

.header-free-try {
  font-weight: 600;
  font-size: 14px;
}

.header-free-try i {
  color: #b58a5b;
  font-size: 16px;
}

/* ========shop */
.mega-parent {
  position: relative;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: -640px;
  width: 100vw;
  background: #f3f3f3;
  padding: 40px 0;
  display: none;
  z-index: 5;
}

.mega-parent:hover .mega-menu {
  display: block;
}

.mega-menu h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

.mega-menu h6:hover {
  color: #b58a5b;
}

.mega-menu ul {
  list-style: none;
  padding: 0;
}

.mega-menu ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.mega-menu ul li:hover {
  color: #b58a5b;
}

.mega-image {
  overflow: hidden;
}

.mega-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.mega-image:hover img {
  transform: scale(1.1);
}

.mega-menu .row > div {
  position: relative;
  padding: 0 40px;
}

.mega-menu .row > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 55%;
  background: #e0e0e0;
}

/* ======== products */
.products-parent {
  position: relative;
}

.products-mega {
  position: absolute;
  top: 100%;
  left: -720px;
  width: 100vw;
  background: #f3f3f3;
  padding: 50px 0;
  display: none;
  z-index: 5;
}

.products-parent:hover .products-mega {
  display: block;
}

.products-mega .row > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #e0e0e0;
}

.products-mega .row > div {
  position: relative;
  padding: 0 30px;
}

.products-mega ul {
  list-style: none;
  padding: 0;
}

.products-mega ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.products-mega ul li:hover {
  color: #b58a5b;
}

.products-mega h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

.products-mega h6:hover {
  color: #b58a5b;
}

/* right side */
.popular-header h5 {
  font-weight: 600;
}

.slider-controls i {
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s ease;
}

.slider-controls i:hover {
  color: #b58a5b;
}

.control-divider {
  width: 1px;
  height: 20px;
  background: #ddd;
  margin: 0 10px;
}

/* Slider Layout */
.product-slider-wrapper {
  overflow: hidden;
}

.product-slider {
  display: flex;
  gap: 15px;
  transition: transform 0.4s ease;
}

.product-card {
  flex: 0 0 48%;
  background: transparent;
  text-align: center;
}

.product-img {
  background: #fff;
  border: 1px solid #ddd;
  height: 150px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.product-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.discount-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #3ca66b;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  font-weight: 600;
}

.price {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #808080;
}

.price del {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #808080;
}

.slider-controls i.disabled {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}


/* ======== pages */
.pages-parent {
  position: relative;
}

.pages-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 260px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  display: none;
  padding: 15px 0;
}

.pages-parent:hover .pages-dropdown {
  display: block;
}

.pages-dropdown,
.sub-dropdown {
  z-index: 5;
}

.pages-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pages-menu li {
  position: relative;
}

.pages-menu li a {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: 0.3s;
}

.pages-menu li a:hover {
  color: #b58a5b;
}

.sub-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  display: none;
  padding: 10px 0;
}

.has-submenu:hover .sub-dropdown {
  display: block;
}

.sub-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-dropdown ul li a {
  padding: 8px 20px;
  display: block;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.sub-dropdown ul li a:hover {
  color: #b58a5b;
}

/* ================= 1198px HEADER FIX ================= */

@media (max-width: 1198px) {
  .delivery-text,
  .logo-divider,
  .header-menu {
    display: none !important;
  }

  .section-header-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-search input {
    display: none;
  }

  .header-search {
    margin-right: 10px;
  }

  .mobile-menu-icon {
    font-size: 26px;
    cursor: pointer;
  }

}

@media (max-width: 1198px) {

  .section-header-top-right {
    gap: 0px !important;
  }

  .header-search {
    margin-right: 0 !important;
  }

  .header-search .bi-search {
    color: #000 !important;
  }

}

.offcanvas {
  width: 300px;
}

.accordion-button {
  background: #f5f5f5;
  border: none;
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
  background: #f5f5f5;
  color: #000;
  box-shadow: none;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.sub-menu div {
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.accordion-button::after {
  display: none !important;
}

.accordion-button {
  position: relative;
}

.accordion-button::before {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.accordion-button:not(.collapsed)::before {
  content: "-";
}

.no-icon::before {
  display: none !important;
}

.accordion-button,
.accordion-button a,
.offcanvas a {
  text-decoration: none !important;
  color: #000;
}

.currency-default::after {
  display: block !important;
}

.currency-default::before {
  display: none !important;
}

/* ================= 600px MOBILE HEADER ================= */
@media (max-width: 600px) {

  .header-search {
    display: none !important;
  }

  .header-icons .bi-person {
    display: none !important;
  }

  .header-icons .bi-heart,
  .header-icons .bi-heart + .count {
    display: none !important;
  }

}

/* ================= 480px MOBILE FIX ================= */

@media (max-width: 480px) {

  .header-free-try {
    display: none !important;
  }

  .section-header-bottom .container {
    justify-content: center !important;
  }

}

/* ============================= section-collections-main ============================= */
.section-collections-main {
  font-family: 'Poppins', sans-serif;
}

.collections-banner {
  height: 150px;
  background: url('https://jelwo.myshopify.com/cdn/shop/files/jewelry-3-breadcrumb.jpg?v=1742473987&width=1920') center/cover no-repeat;
  position: relative;
  color: #fff;
}

.collections-breadcrumb {
  font-size: 14px;
  letter-spacing: 1px;
}

.collections-title {
  font-size: 42px;
  font-weight: 600;
}

/* ============================= section-rose-gold-shop-main ============================= */

.section-rose-gold-shop-main{
  font-family:'Poppins',sans-serif;
}

.shop-sidebar{
  padding-right:20px;
}

.sidebar-title{
  font-size:18px;
  font-weight:600;
  margin-bottom:15px;
}

.sidebar-list{
  list-style:none;
  padding:0;
}

.sidebar-scroll {
  max-height: 220px;
  overflow-y: auto;
  padding-right: 5px;
}

.sidebar-list li{
  margin-bottom:10px;
  font-size:14px;
  cursor:pointer;
}

.sidebar-list input{
  margin-right:8px;
}

.sidebar-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 0;
}

.sidebar-item input {
  display: none;
}

.checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark::after {
  content: "✔";
  font-size: 10px;
  display: none;
}

.sidebar-item:hover .checkmark::after {
  display: block;
  color: black;
}

.cat-text {
  flex: 1;
  color: #555;
}

.cat-count {
  color: #999;
  font-size: 14px;
}

.availability-top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.availability-top a {
  color: #777;
  text-decoration: underline;
  cursor: pointer;
}

.price-filter{
  font-size:14px;
}

.price-top a{
  color:#777;
  text-decoration:underline;
}

.range-slider{
  position:relative;
  height:40px;
}

.range-slider input{
  position:absolute;
  width:100%;
  pointer-events:none;
  appearance:none;
  height:4px;
  background:#ddd;
}

.range-slider input::-webkit-slider-thumb{
  pointer-events:auto;
  appearance:none;
  height:16px;
  width:16px;
  border-radius:50%;
  background:#a67e65;
  cursor:pointer;
}

.price-inputs{
  display:flex;
  align-items:center;
}

.price-box{
  display:flex;
  flex-direction:column;
}

.price-box span{
  font-size:12px;
  color:#777;
}

.price-box input{
  width:130px;
  border:1px solid #ddd;
  padding:4px;
}

.price-input-wrapper{
  position:relative;
  display:flex;
  align-items:center;
  border:1px solid #ddd;
  height:40px;
  padding:0 10px;
}

.currency{
  color:#777;
  margin-right:8px;
}

.price-input-wrapper input{
  border:none;
  outline:none;
  width:100%;
  text-align:right;
}

.color-list{
list-style:none;
padding:0;
margin:0;
}

.color-item{
  margin-bottom:12px;
}

.color-item label{
display:flex;
align-items:center;
cursor:pointer;
font-size:14px;
width:100%;
}

.color-item input{
display:none;
}

.color{
width:18px;
height:18px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin-right:10px;
font-size:10px;
color:#000;
}

.color::after{
content:"✔";
display:none;
}

.color-item:hover .color::after{
display:block;
}

.color-text{
flex:1;
}

.color-count{
margin-left:auto;
color:#999;
}

.beige{background:#d8c7a3;}
.bronze{background:#cd7f32;}
.brown{background:#8b4513;}
.gold{background:#d4af37;}
.orange{background:#ff8c00;}
.silver{background:#c0c0c0;}
.yellow{background:#ffd700;}

.special-product-item{
display:flex;
gap:15px;
margin-bottom:20px;
align-items:center;
cursor:pointer;
}

.special-product-img{
width:90px;
height:90px;
background:#f5f5f5;
position:relative;
overflow:hidden;
display:flex;
align-items:center;
justify-content:center;
}

.special-product-img img{
max-width:70%;
transition:.3s;
position:absolute;
}

.img-hover{
opacity:0;
}

.special-product-item:hover .img-hover{
opacity:1;
}

.special-product-item:hover .img-default{
opacity:0;
}

.special-product-title{
font-size:15px;
margin-bottom:5px;
transition:.3s;
font-weight:600;
}

.special-product-price{
color:#a67e65;
font-weight:500;
}

.special-product-item:hover .special-product-title{
color:#a67e65;
}

.sidebar-banner{
margin-top:25px;
overflow:hidden;
cursor:pointer;
}

.sidebar-banner img{
width:100%;
transition:transform .4s ease;
}

.sidebar-banner:hover img{
transform:scale(1.08);
}

.shop-page-title{
font-size:22px;
font-weight:600;
color:#333;
}

.shop-banner{
position:relative;
overflow:hidden;
}

.shop-banner img{
height:220px;
object-fit:cover;
}

.shop-banner-content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#a67e65;
color:#fff;
padding:50px 70px;
border-radius:200px;
}

.shop-banner-content span{
font-size:14px;
letter-spacing:1px;
}

.shop-banner-content h2{
font-size:34px;
margin-top:10px;
}

.shop-desc{
color:#777;
font-size:16px;
font-weight:600;
}

/* ========================TOP BAR */
.shop-top-bar{
border-bottom:1px solid #eee;
padding-bottom:15px;
}

.shop-top-bar-2{
display:none;
}

@media (max-width:400px){

  .shop-top-bar{
  display:none !important;
  }

  .shop-top-bar-2{
  display:block;
  }

}

.view-icons i{
font-size:20px;
margin-right:10px;
cursor:pointer;
color: black;
}

.view-icons i.active{
  color:#a67e65;
}


.product-count{
color:#777;
font-size:15px;
}

.sort-text{
font-weight:600;
margin-right:6px;
}

.sort-btn{
border:none;
background:none;
padding:0;
font-size:15px;
color:#777;
}

.sort-btn:focus{
box-shadow:none;
}

.dropdown-menu{
border:none;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
padding:10px 0;
}

.dropdown-item{
font-size:15px;
padding:8px 20px;
color:#666;
}

.dropdown-item:hover{
background:#f5f5f5;
}

.dropdown-item.active{
background:none;
font-weight:600;
color:#000;
}

.sort-dropdown{
display:flex;
align-items:center;
gap:6px;
}

.sort-section{
display:flex;
align-items:center;
gap:20px;
}

.sort-btn{
display:inline-flex;
align-items:center;
}

.new-product-card-wrapper {
  flex: 0 0 calc(25% - 15px);
}

@media (max-width: 1198px) {
  .new-product-card-wrapper {
    flex: 0 0 calc(33.333% - 15px);
  }
}

@media (max-width: 639px) {
  .new-product-card-wrapper {
    flex: 0 0 calc(50% - 15px);
  }
}

@media (max-width: 359px) {
  .new-product-card-wrapper {
    flex: 0 0 100%;
  }
}

.new-product-card {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  transition: 0.3s ease;
  margin-top: 25px;
}

.new-product-img {
  position: relative;
  padding: 70px 40px 70px;
  background: #f3f3f3;
}

.new-product-img img {
  max-height: 200px;
  object-fit: contain;
  transition: 0.4s ease;
}

.new-discount {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #3ca66b;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 12px;
}

.new-countdown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  display: flex;
  padding: 15px 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

@media (max-width: 1198px) {
  .new-countdown {
    display: none !important;
  }
}

.new-countdown div {
  text-align: center;
  padding: 0 18px;
  position: relative;
}

.new-countdown div:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: 65%;
  width: 1px;
  background: #e5e5e5;
}

.new-countdown strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #222;
}

.new-countdown span {
  font-size: 12px;
  color: #777;
}

.new-product-content {
  border-top: 1px solid #e5e5e5;
  padding: 35px 20px 30px;
  background: #f3f3f3;
}

.new-category {
  font-size: 13px;
  letter-spacing: 1px;
  color: #999;
  margin-bottom: 8px;
}

.new-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.new-price {
  font-weight: 600;
  color: #6d6d6d;
}

.new-price del {
  margin-left: 8px;
  color: #999;
}

.mobile-icons {
  display: none;
}

@media (max-width: 1198px) {
  .mobile-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }

  .mobile-icons i {
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .mobile-icons i:hover {
    background: #b58a5b;
    color: #fff;
    border-color: #b58a5b;
  }
}

.new-collection-btn {
  background: #b58a5b;
  color: #fff;
  padding: 14px 45px;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s ease;
  border: none;
}

.new-collection-btn:hover {
  background: #000;
  color: #fff;
}

.hover-overlay {
  position: absolute;
  inset: 0;
  background: #b58a5b;
  opacity: 0;
  transition: 0.4s ease;
  z-index: 2;
}

.new-product-card:hover .hover-overlay {
  opacity: 0.95;
}

.new-product-card:hover .new-product-img img {
  opacity: 0.15;
  transition: 0.4s ease;
}


.new-product-card:hover .new-discount {
  opacity: 1;
  z-index: 3;
}

.new-product-card:hover .new-countdown {
  opacity: 0;
  transition: 0.3s ease;
}

.hover-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30px;
  z-index: 3;
}

.hover-icons i {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.hover-icons i:hover {
  background:black;
}

.product-hover-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f3f3f3;
  padding: 35px 30px;
  transform: translateY(100%);
  z-index: 3;
}

.new-product-card:hover .product-hover-content {
  transform: translateY(0);
}

.new-product-card:hover .new-product-content {
  opacity: 0;
  transition: 0.3s ease;
}

.hover-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hover-row .form-select {
  flex: 1;
  height: 35px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  border: 1px solid #ddd;
}

.qty-box:hover {
  border: 1px solid #b58a5b;
}

.qty-box button {
  background: #fff;
  font-size: 18px;
  transition: 0.3s ease;
  border: none;
  outline: none;   
}

.qty-box span {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

/* ============================= section-product-modal-main ============================= */
.product-view-modal .modal-content {
  border: none;
  border-radius: 0;
}

.modal-close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
}

.modal-left-area {
  background: #ffffff;
  padding: 60px;
}

.main-product-img img {
  max-height: 420px;
}

.thumb-wrapper {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.thumb-wrapper img {
  width: 80px;
  background: #fff;
  padding: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
}


.thumb-wrapper img.active-thumb {
  border: 2px solid #000;
}

.modal-right-area {
  padding: 60px;
}

.product-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.rating-stars i {
  color: #f5a623;
  margin-right: 3px;
}

.current-price {
  font-size: 36px;
  font-weight: 600;
  color: #b58a5b;
  margin-right: 15px;
}

.price-wrapper del {
  color: #888;
  margin-right: 10px;
}

.sale-tag {
  background: #3ca66b;
  color: #fff;
  padding: 5px 12px;
  font-size: 13px;
}

.tax-text {
  color: #777;
  font-size: 14px;
  margin-top: 8px;
}

.stock-status {
  margin-top: 10px;
  margin-bottom: 15px;
}

.stock-dot {
  width: 10px;
  height: 10px;
  background: #3ca66b;
  display: inline-block;
  border-radius: 50%;
  margin-right: 6px;
}

.desc-text {
  color: #555;
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: 600;
}

.option-group {
  margin-bottom: 20px;
}

.color-group {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 60;
}

.color.active {
  box-shadow: 
    0 0 0 1px #fff,
    0 0 0 2px currentColor;
}

.color.gold {
  background: #d4a017;
  color: #d4a017;
}

.color.brown {
  background: #9c5a2c;
  color: #9c5a2c;
}

.color.silver {
  background: #ccc;
  color: #ccc;
}

.qty-box2 {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid #ddd;
  width: fit-content;
  padding: 10px 2px;
  margin-bottom: 30px;
}

.qty-box2 button {
  border: none;
  background: none;
  font-size: 18px;
}

.btn-group-modal {
  display: flex;
  gap: 20px;
}

.add-cart-btn-modal {
  padding: 15px 40px;
  border-radius: 40px;
  border: 1px solid #000;
  background: #fff;
}

.buy-now-btn-modal {
  padding: 15px 40px;
  border-radius: 40px;
  background: #000;
  color: #fff;
  border: none;
}

.add-cart-btn-modal:hover {
  background: #b58a5b;
  color: #fff;
  border-color: #b58a5b;
  transition: 0.3s ease;
}

.buy-now-btn-modal:hover {
  background: #b58a5b;
  color: #fff;
  transition: 0.3s ease;
}


.main-product-img {
  position: relative;
}

.img-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 5;

  opacity: 0;
  visibility: hidden;
}

.main-product-img:hover .img-nav {
  opacity: 1;
  visibility: visible;
}

.img-nav i {
  font-size: 20px;
  color: #333;
}

.img-prev {
  left: 20px;
}

.img-next {
  right: 20px;
}

.list-product-card{
    background:#fff;
    padding:25px;
    margin-bottom:30px;
    gap:30px;
    align-items:center;
}

.list-product-img{
    width:320px;
    background:#f4f4f4;
    padding:40px;
    text-align:center;
}

.list-product-img img{
    max-width:100%;
}

.img-hover{
    position:absolute;
    width:320px;
    background:#f4f4f4;
    padding:40px;
    text-align:center;
    opacity: 0;
    top:0px;
    left:0px;
}

.list-product-img:hover .img-hover{
    opacity:1;
}

.list-product-img:hover .img-default{
    opacity:0;
}

.list-discount{
    position:absolute;
    top:15px;
    left:15px;
    background:#2fb46e;
    color:white;
    font-size:14px;
    padding:4px 10px;
}

.list-product-content{
    flex:1;
}

.list-category{
    font-size:12px;
    letter-spacing:2px;
    color:#999;
}

.list-title{
    font-weight:600;
    margin:5px 0;
}

.list-price{
    font-weight:600;
    color:#a67e65;
}

.list-price del{
    color:#888;
    margin-left:8px;
}

.list-desc{
    color:#777;
    margin:15px 0;
    line-height:1.6;
}

.list-icons{
    display:flex;
    gap:10px;
}

.icon-circle{
    width:40px;
    height:40px;
    border:1px solid #ddd;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.icon-circle:hover{
    background:#a67e65;
    color:white;
}

@media (max-width:1199px){
    .shop-sidebar{
        display:none;
    }
}

@media (max-width:735px){

  .list-product-card{
      flex-direction:column;
      gap:20px;
  }

  .list-product-img{
      width:100%;
      padding:30px;
  }

  .list-product-content{
      text-align:left;
  }

}

@media (max-width:1199px){
  .section-rose-gold-shop-main .col-lg-9{
      width:100%;
  }

  .section-rose-gold-shop-main .col-lg-3{
      display:none;
  }
}

.view-icons{
display:flex;
align-items:center;
gap:15px;
}

.filter-divider{
width:1px;
height:20px;
background:#ddd;
display:inline-block;
}

.filter-btn{
background: transparent;
border: none;
display: flex;
align-items: center;
gap: 8px;
font-size: 16px;
color: #000;
padding: 0;
}

.filter-btn i{
font-size: 18px;
}

/* ============================= section-footer-main ============================= */
.section-footer-main {
    background: #f3f0ec;
    color: #777;
    font-size: 14px;
}

.footer-logo img {
    height: 35px;
}

.footer-contact{
  font-weight: 500;
}

.footer-contact li {
    margin-bottom: 15px;
    line-height: 1.6;
    cursor: pointer;
}
.footer-contact li:hover {
    color: #a67e65;
}

.footer-contact i {
    color: #a67e65;
    margin-right: 8px;
}

.footer-social i {
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.footer-social i:hover {
    background: #a67e65;
    color: #fff;
    border-color: #a67e65;
}

.footer-title {
    font-weight: 600;
    margin-bottom: 20px;
    color: #a67e65;
}

.footer-links li {
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.footer-links li:hover {
    color: #a67e65;
}

.subscribe-text {
    font-size: 18px;
    font-weight: 500;
    color: #a67e65;
}

.subscribe-box input {
    width: 320px;
    height: 60px;
    background: #e9e5df; 
    flex: 1;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #ddd;
    padding-left: 20px;
    outline: none;
    font-weight: 500;
}

.subscribe-btn {
    height: 50px;
    padding: 0 40px;
    border-radius: 40px;
    border: none;
    background: #a67e65;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.subscribe-btn:hover {
    background: #000;
}

.footer-bottom {
    background: #fff;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 500;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pay-icon {
  background: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pay-icon img,
.pay-icon svg {
  height: 20px;
  width: auto;
  display: block;
}

@media (max-width: 1199px) {
  .section-footer-main {
    display: none;
  }
}
/* ================== section-footer-new ==================*/
.section-footer-new {
  background: #f3f0ec;
  color: #777;
  font-size: 14px;
}

.section-footer-new .footer-title {
  color: #a67e65;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-footer-new .footer-input {
  width: 350px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #ddd;
  padding-left: 20px;
  background: #e9e5df;
  outline: none;
}

.footer-subscribe-row {
  flex-wrap: wrap;
}

.section-footer-new {
  display: none;
}

@media (min-width: 601px) and (max-width: 1198px) {
  .section-footer-new {
    display: block;
  }
}

.section-footer-mobile {
  display: none;
  background: #f3f0ec;
  font-size: 14px;
  color: #777;
}

/* ==================== mobile-footer-input ==================== */

@media (max-width: 600px) {

  .section-footer-mobile {
    display: block;
  }

}

.mobile-footer-input {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #ddd;
  padding-left: 20px;
  background: #e9e5df;
  outline: none;
}

.mobile-footer-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: #a67e65;
}

.mobile-footer-header span {
  font-size: 20px;
  transition: 0.3s;
  color: #a67e65;
}

.accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #a67e65;
  font-weight: 600;
  padding: 14px 0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: #a67e65;
  box-shadow: none !important;
}

.accordion-item {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e5e0da;
}

.accordion {
  border: none;
}

.accordion-body {
  padding: 10px 0 15px 0;
  background: transparent;
}

.accordion-button::after {
  display: none;
}

.accordion-button::before {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 22px;
  transition: 0.3s;
}

.accordion-button:not(.collapsed)::before {
  content: "−";
}

.accordion-body li {
  font-size: 14px;
  color: #777;
  font-weight: 500;
  padding: 6px 0;
  line-height: 1.6;
}

/* ================= MOBILE BOTTOM NAV ================= */

.mobile-bottom-nav {
  display: none;
}

@media (max-width: 600px) {

  .mobile-bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    z-index: 2;
  }

  .mobile-bottom-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #333;
    text-decoration: none;
    position: relative;
    border-left: #000;
  }

  .mobile-bottom-nav .nav-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -42px;
    top: 20%;
    height: 60%;
    width: 1px;
    background: #ddd;
  }

  .mobile-bottom-nav .nav-item i {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .nav-count {
    position: absolute;
    top: -2px;
    left: 18px;
    background: #000;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
  }

  body {
    padding-bottom: 70px;
  }

}